.header{
    background-image: url(../images/djeca.png);
    background-size: cover;
    padding-bottom: 270px;
    padding-top: 140px;
    background-position: center top;
    background-repeat: no-repeat;
    
    &_first{
        animation: slideDown .5s linear;
    }
    
    &_second{
        animation: slideLeft .5s linear;
    }
    
    &_title{
        font-family: 'Playfair Display', serif;
        font-size: 7.2rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        margin: 40px 0 !important;
        line-height: 1.18;
        letter-spacing: normal;
        color: #ffffff;
        text-align: left;
        padding-left: 79px !important;
        
    }
    &_content{
        font-family: 'Muli', sans-serif;
        font-size: 1.8rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
        text-align: left;
        margin-left: 79px !important;
    }
    &_desc{
        font-family: 'Playfair Display', serif;
        font-size: 3.6rem;
        font-weight: bold;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: 79px !important;
        text-align: left;
    }
    
 
}
.donate_link{
    font-family: 'Muli', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 38px;
    border: solid 2px #ffffff;
    padding: 20px 80px;
    text-decoration: none;
    transition: background .4s ease;
    text-align: left;
    &:hover{
        background: #ffffff;
        transition: background .4s ease;
        border: none;
        transition: background .4s ease;
        color: $cl-s;
        text-decoration: none;
    }
}
.number_container{
    border-radius: 20px;
    box-shadow: 0 3px 18px 0 rgba(6, 170, 202, 0.3);
     background: linear-gradient(243deg, #06aaca, #00859f);
    padding: 120px;
    position: absolute;
    top: -30;
    z-index: 1000;
    left: 0;
    &_donation{
        font-family: 'BebasNeue';
        font-size: 22rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.18;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        padding: 80px 20px;
        
           
    }
    &_text{
        font-family: 'Playfair Display', serif;
        font-size: 5.6rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.02;
        letter-spacing: normal;
        text-align: left;
        padding: 0 20px;
        z-index: 1000;
        color: #ffffff;
    }
}
.about_container{
    margin-top: 550px;
    margin-bottom: 100px;
}
.article{
    &_left{
        visibility: hidden;
        transform: translateX(-30%);
        transition: all .4s ease;
        padding-left: 79px;
        padding-right: 79px;
    }
    
    &_right{
        visibility: hidden;
        transform: translateX(30%);
        transition: all .4s ease;
    }
    
    &_title{
        font-family: 'PlayfairDisplay';
        font-size: 7.2rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        color: $cl-s;
        letter-spacing: normal;
    }
    &_content{
        font-family: 'Muli', sans-serif;
        font-size: 1.8rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        line-height: 1.5;
        letter-spacing: normal;
        color: $cl-p;
    }
    &_more{
        font-family: 'Muli', sans-serif;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 900;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #06aaca;
        &:hover{
            text-decoration: none;
            border-bottom: 1px solid #06aaca;
            color: #06aaca;
        }
    }
}
.decoration{
    position: absolute;
    top: -70;
    left: 110;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.04);
    height: 590px;
    width: 561px;
    
}
.baloon{
    position: absolute;
    top: -80;
    border-radius: 50%;
    width: 677px;
    height: 677px;
    z-index: -100;
    box-shadow: 0 3px 18px 0 rgba(6, 170, 202, 0.3);
    background-color: #06aaca;
}


.show{
    &_left{
        visibility: visible;
        transform: translateX(0);
        transition: all .4s ease;
    }
    &_right{
        visibility: visible;
        transform: translateX(0);
        transition: all .4s ease;
    }
}


.rest_news{
    font-family: 'Muli', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: $cl-p;
    
    &:hover{
       text-decoration: none;    
       color: $cl-p;
       border-bottom: 1px solid $cl-p;    
    }
}

 .swiper-container {
      width: 100%;
      height: 400px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-button-prev, .swiper-button-next{
    height: 4.9rem !important;
}
.news{
    background: #ffffff;
    padding: 20px;
    position:absolute; 
    top: 35; 
    z-index: 1000; 
    right: -80;
    &_title{
        font-family: 'PlayfairDisplay', serif;
        font-size: 3.6rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: normal;
        color: $cl-s;
        text-align: left;
        height: 80px;
        overflow: hidden;
    }
    &_text{
        font-family: 'Muli', sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $cl-p;
        text-align: left;
        height: 140px;
        overflow: hidden;
    }
}
.address_decoration{
    position: absolute;
    top: -50;
    left: 0;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.04);
    height: 665px;
    width: 729px;
    z-index: -1000;
}
.map{
   &_holder{
    height: 449px;
    }
    &_address{
        font-family: 'Muli', sans-serif;
        font-size: 2.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $cl-p;
        margin: 19px 0;
    }    
}

.swiper-button-next:focus, .swiper-button-prev:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.about{
    &_content{
    font-family: 'Muli', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $cl-p;
    }
    &_title{
        font-family: 'PlayfairDisplay',serif;
        font-size: 2.5rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: left;
        color: #2e3038;
    }
}

.up_and_down{
    opacity: 1;
    animation: upAndDown 2s ease;
    transition: all .3s ease;
    
    
}

.round {
  position:absolute;
  width: 300px;
  height: 300px;
  top: 95;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  background: #ffffff linear-gradient(to right, rgb(80,192,214) 50%, #ffffff 50%);
  color: #ffffff;
  border-radius: 50%;
  
  
  @keyframes spin {
    to {
      transform: rotate(120deg);
    }
  }
  
  @keyframes background {
    50% {
      background-color: red;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: linear-gradient(243deg, rgb(4,154,184), rgb(4,157,187));;
    border-radius: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    height: 100%;
    width: 50%;
    bottom: 0;
    right: 0;
    border-radius: 0 100% 100% 0 / 50%;
    transform: rotate(0);
    transform-origin: 0 50%;
    animation: 50s spin infinite linear,
               100s background infinite step-end;
    animation-play-state: paused;
    animation-delay: inherit;
  }
}
.round_number{
  position:absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  color: #ffffff;
  font-size: 22rem;
  font-family: 'BebasNeue';    
}

.contact_title{
  font-family: 'PlayfairDisplay',serif;
  font-size: 5.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.47;
  letter-spacing: normal;
  text-align: left;
  color: #2e3038;
}
.kontakt_container{
    margin-bottom: 100px;
}

@media(max-width: 1667px){
    .header_title{
        font-size: 6rem;
    }
}

@media(max-width: 1434px){
    .header_title{
        font-size: 5rem;
    }
    .round{
        height: 250px;
        width: 250px;
        &_number{
            font-size: 17rem;
        }
    }
    .decoration{
       height: 700px;
    }
    .baloon{
        height: 530px;
        width: 530px;
        
    }
    .map_holder{
        height: 400px;
    }
}

@media(max-width: 1350px){
    .number_container{
        &_donation{
            font-size: 17rem;
            padding: 55px 20px;
        }
        &_text{
            font-size: 4rem;
        }
    }
    .round{
        top: 48;
    }
}

@media(max-width: 1193px){
    .number_container{
        &_donation{
            font-size: 15rem;
            padding: 55px 20px;
        }
        &_text{
            font-size: 3.8rem;
        }
    }
    .round{
        height: 200px;
        width: 200px;
        &_number{
            font-size: 15rem;
        }
    }
    .decoration{
      height: 440px;
        left: 190;
      width: 900px;
    
    }
}

@media(min-height: 1080px){
    .kontakt_container{
        min-height: 1000px;
    }
    .other_news{
        margin-bottom: 540px;
    }
    
}

@media(max-width: 1042px){
    .header{
        padding-bottom: 70px !important;
    }
    .header_content, .header_desc, .donate_link{
        margin-left: 20px !important;
    }
    .header_title{
        padding-left: 20px !important; 
    }
    
    .number_container{
        &_donation{
            font-size: 13rem;
            padding: 50px 20px;
        }
        &_text{
            font-size: 3.4rem;
        }
    }
    .round{
        height: 200px;
        width: 200px;
        top: 25;
        &_number{
            font-size: 13rem;
        }
    }
    .baloon{
        height: 485px;
        width: 485px;
        left: 50%;
        top: -37;
        transform: translateX(-50%);
    }
    .decoration{
      height: 540px;
      width: 730px;
    }
}
@media(max-width: 1006px){
    .news{
        position: static;
        width: 100% !important;
        padding: 10px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
    .card-img-top{
        height: 400;
    }
}

@media(max-width: 991px){
    .number_container{
        padding: 30px 20px 190px 20px;
        &_donation{
            text-align: center;
        }
        &_text{
            border-left: none !important;
            text-align: center;
            
        }
        &_first{
            margin-bottom: 30px;
        }
    }
    
    .about_container{
        margin-top: 600px !important;
    }
    .article{
        &_title{
            font-size: 5rem;
        }
        &_content{
            margin: 30px 0;
        }
    }
    .round{
        top: 300;
    }
    .news_text{
        display: none;
    }
    .news_title{
        height: 250px;
    }
    
}

@media(max-width: 768px){
    .baloon{
        height: 450px;
        width: 450px
    }
    .decoration{
      height: 740px;
      left: 150;
      width: 500px;
    }
    .number_container{
        border-radius: 0px; 
    }
}

@media(max-width: 684px){
    .baloon{
        height: 430px;
        width: 430px
    }
    .decoration{
      height: 880px;
      width: 380px;
    }
    
}

@media(max-width: 575px){
    .header_content, .header_desc, .donate_link{
        margin-left: 0px !important;
    }
    .header_title{
        padding-left: 0px !important;
    }
    .article_left{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .map_holder{
        height: 300px;
    }
    .decoration{
      height: 470px;
      width: 430px;
    }
    
}

@media(max-width: 530px){
    .baloon{
        height: 400px;
        width: 400px
    }
    .card-img-top{
        height: 250;
    }
    .news_title{
        height: 90px;
    }
    
    
}
@media(max-width: 440px){
    .baloon{
        height: 370px;
        width: 370px
    }
    .about_fotografija{
        padding-left: 0 !important;
        padding-right: 0 !important;
        & img{
            min-height: 200px !important;
        }
    }
    .clanak_jos{
        top: -22 !important;
    }
    .header{
        padding-bottom: 0px !important;
    }
}

@media(max-width: 420px){
    .baloon{
        height: 350px;
        width: 350px
    }
    .decoration{
      width: 335px;
      height: 590px;
        left: 50;
    }
    
}

@media(max-width: 394px){
    .baloon{
        height: 330px;
        width: 330px
    }
}

@media(max-width: 375px){
    .article_title{
        font-size: 5rem !important;
    }
    .baloon{
        height: 315px;
        width: 315px;
        top: -60;
    }
    .decoration{
      width: 300px;
      height: 590px;
        left: 50;
    }
}
@media(max-width: 362px){
    .round{
        top: 340 !important;
    }
    .article_title{
        font-size: 4rem !important;
    }
    .card-img-top{
        height: 150;
    }
     .baloon{
        height: 290px;
        width: 290px;
        top: -45;
    }
    .decoration{
      width: 280px;
      height: 690px;
    }
   
}

@media(max-width: 345px){
   
     .baloon{
        height: 270px;
        width: 270px;
        top: -45;
    }
}

@media(max-width: 326px){
    .baloon{
        height: 260px;
        width: 260px;
        top: -38;
    }
    .decoration{
      width: 240px;
      height: 680px;
    }
}

@keyframes slideDown{
     0%{
     	opacity: 0;
        transform: translateY(-30%); 
     } 
     100% {
     	opacity: 1;
        transform: translateY(0%) 
     }
}

@keyframes slideLeft{
     0%{
     	opacity: 0;
        transform: translateX(-30%); 
     } 
     100% {
     	opacity: 1;
        transform: translateX(0%) 
     }
}

@keyframes upAndDown{
     0%{
     	opacity: 0;
        
     }
    
     
     100% {
     	opacity: 1;
        
     }
}