.nav_holder{
    background-color: red !important;
    width: 100% !important;
    padding: 0 79px !important;
    z-index: 100000;
}
.nav_container{
    background-color: #ffffff !important;
    font-size: 1.8rem;
    border-bottom: 2px solid rgb(244, 245, 247);
    padding: 0 !important;
    
    &_links {
      padding: 0 30px !important;
      & li{
        padding: 0 !important;
       
      
    }
}
}
.nav-link{
        color: $cl-p !important;
        transition: all .4s ease; 
        padding: 37px 0 !important;
        margin: 0 30px ! important;
        font-family: 'Muli', sans-serif;
        &:hover{
            transition: all .4s ease; 
            border-bottom: 4px solid $cl-t;
            color: $cl-s;
        }   
 }
.nav_index_container{
    background-color: transparent !important;
    font-size: 1.8rem;
    border-bottom: none;
    padding: 0 !important;
    
    &_links {
      padding: 0 30px !important;
      & li{
        padding: 0 !important;
       & > a{
        color: red !important;
        transition: all .4s ease; 
        padding: 37px 0 !important;
        margin: 0 30px ! important;
        font-family: 'Muli', sans-serif;
        &:hover{
            transition: all .4s ease; 
            border-bottom: 4px solid $cl-t;
            color: $cl-s;
        }   
      }
     
    }
}
}
.index_link{
    color: white !important;
    &:hover{
        transition: all .4s ease; 
        border-bottom: 4px solid white !important;
        color: white !important;
    }
}

.navbar-collapse{
    text-align: center !important;
}
.dropdown{
    &-menu{
        background: black !important;
    }
}
.navbar-toggler{
	height: 36px;
	width: 36px;
	text-align: center;
    position: relative;
    
    &:focus{
        box-shadow: none !important;
        border: none !important;
        outline: none;
    }
}

.ham2{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
    width:20px;
	height:3px;
	background: $cl-p;
    transition: all .3s linear;
    &::after{
       width:20px;
	   height:3px;
	   background: $cl-p;
       position: absolute;
	   content: "";
       display: block;
	   left: 0;
       top: -8px;
       transition: all .3s linear;    
    }
    
    &::before{
       width:20px;
	   height:3px;
	   background: $cl-p;
       position: absolute;
	   content: "";
       display: block;
	   left: 0;
       top: 8px;  
       transition: all .3s linear;    
    }
}

.ham2_index{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
    width:20px;
	height:3px;
	background: white;
    
    &::after{
       width:20px;
	   height:3px;
	   background: white;
       position: absolute;
	   content: "";
       display: block;
	   left: 0;
       top: -8px;    
    }
    
    &::before{
       width:20px;
	   height:3px;
	   background: white;
       position: absolute;
	   content: "";
       display: block;
	   left: 0;
       top: 8px;    
    }
}
.nav-link_active{
    transition: all .4s ease; 
    border-bottom: 4px solid $cl-t;
    color: $cl-s;
}
.nav-link_index_active{
    transition: all .4s ease; 
    border-bottom: 4px solid white !important;
    color: white !important;
}

.transX > .ham2::after{
	top: 0 !important;
	transform: rotate(45deg); 
    transition: all .3s linear;
}
.transX > .ham2::before{
	top: 0 !important;
	transform: rotate(-45deg);
    transition: all .3s linear;
}
.transX > .ham2{
    transition: all .3s linear;
	background-color: transparent; 
}

@media (max-width: 1199px){
    .nav_container_links a{
        padding: 12px !important;
       
    }
    .header{
        &_title{
         font-size: 4rem;
        }
        &_desc{
            font-size: 2.4rem;
        }
    }
   
    
}
